# 집합

# 중복된 값은 한 개의 값으로 인식함

In [2]:
s = set()
s.add(1)
s.add(2)
s.add(1)

In [4]:
s

{1, 2}

In [5]:
len(s)

2

# list는 값의 순서에 의미가 있지만, set은 순서에 의미가 없다

In [8]:
{1,2} == {2,1}

True

In [11]:
[1,2] == [2,2]

False

In [15]:
def find_duplicated_string(str):
    cnt = len(str)
    result = set()
    for i in range(0, cnt - 1):
        for j in range(i + 1, cnt):
            if str[i] == str[j]:
                result.add(str[i])
    return result

name = ["손오공", "홍길동", "사오정", "저팔계", "손오공"]
print(find_duplicated_string(name))

{'손오공'}

In [16]:
def couple_list(str):
    cnt = len(str)
    for i in range(0, cnt-1):
        for j in range(i+1, cnt):
            return str[i] + "-" + str[j]
        
name = ["손오공", "홍길동", "사오정", "저팔계", "호돌이"]
print(couple_list(name))

손오공-홍길동